apiVersion: batch/v1
kind: Job
metadata:
  name: data-generator-job
spec:
  template:
    spec:
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: hmfbd01
      containers:
        - name: data-generator
          # 替换为实际的镜像地址
          image: hub.hmf.xyz/base/data-generator:1.0.0
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 16000m
              memory: 8Gi
            requests:
              cpu: 8000m
              memory: 4Gi